.item{
    padding: 15px;
    .item__content{
        // background-color: #ffffff;
        border-radius: 25px;
        padding: 30px 30px 20px;
        text-align: center;
        box-shadow: 1px 1px 10px rgb(221, 218, 218);
        .thumbnail{
            padding-bottom: 10px;
            height: 140px;
            @include respond(tablet) {
                height: 240px;
            }
            @include respond(phone) {
                height: 280px;
            } 
            img{
                width: 100%;
                border-radius: 25px;
            }
        }
        h1{
            height: 60px;
            font-size: 13px;
            @include respond(tablet) {
                height: 35px;
                font-size: 17px;
            }
            @include respond(phone) {
                height: 40px;
                font-size: 22px;
            } 
        }
        .readmore{
            button{
                // padding: 5px 20px;
            }
        }
    }
}